<%= form_for ["admin", @company], :html => { :class => 'form-horizontal', :name => 'new_company'} do |f| %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :name, :class => 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :business_id, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :business_id, :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :address, :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :zip, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :zip, :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :city, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :city, :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :contact_person, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :contact_person, :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :contact_email, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :contact_email, :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :contact_phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :contact_phone, :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :contact_fax, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :contact_fax, :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :url, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :url, :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :mob_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :mob_url, :class => 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :logo_link, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :logo_link, :class => 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :url, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :company_logo, :class => 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :company_banner, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :company_banner, :class => 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :default_reservation_time, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :default_reservation_time, :class => 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :schedule_time_interval, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :schedule_time_interval, :onblur => "makeCombo();", :class => 'input-xlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :num_tab, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :num_tab, :class => 'input-xlarge' %>
      </div>
    </div>  
    
    <div class="control-group">
      <%= f.label :morning_start_time, :class => 'control-label' %>
      <div class="controls">
        <%= select_tag "morning_stime", options_for_select(get_time(1, 23), @company.morning_start_time.present? ? @company.morning_start_time.split(':')[0]: '08'), :class => "input-xlarge" %>
        <%= select_tag "morning_etime", options_for_select(get_time(1, 45), @company.morning_start_time.present? ? @company.morning_start_time.split(':')[1]: '00'), :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :evening_end_time, :class => 'control-label' %>
      <div class="controls">
        <%= select_tag "evening_stime", options_for_select(get_time(1, 23), @company.evening_end_time.present? ? @company.evening_end_time.split(':')[0]: '08'), :class => "input-xlarge" %>
        <%= select_tag "evening_etime", options_for_select(get_time(1, 45), @company.evening_end_time.present? ? @company.evening_end_time.split(':')[1]: '00'), :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :send_email, :class => 'control-label' %>
      <div class="controls">
        <%= check_box_tag 'company[send_email]', 1, @company.send_email %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :num_tab, :class => 'control-label' %>
      <div class="controls">
        <%= f.radio_button :mail_format, 'html' %>Html &nbsp; 
        <%= f.radio_button :mail_format, 'text' %>Text
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :display_receipt, :class => 'control-label' %>
      <div class="controls">
        <%= check_box_tag 'company[display_receipt]', 1, @company.display_receipt %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :send_sms, :class => 'control-label' %>
      <div class="controls">
        <%= check_box_tag 'company[send_sms]', 1, @company.send_sms %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :appConfirm, :class => 'control-label' %>
      <div class="controls">
        <%= check_box_tag 'company[appConfirm]', 1, @company.appConfirm %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :display_checkin, :class => 'control-label' %>
      <div class="controls">
        <%= check_box_tag 'company[display_checkin]', 1, @company.display_checkin %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :close, :class => 'control-label' %>
      <div class="controls">
        <%= check_box_tag 'company[close]', 1, @company.close %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :reason_text, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :reason_text, :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :massmail, :class => 'control-label' %>
      <div class="controls">
        <%= f.radio_button :massmail, '1' %>Enable &nbsp; <%= f.radio_button :massmail, '0' %>Disable
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :massmail_internal, :class => 'control-label' %>
      <div class="controls">
        <%= f.radio_button :massmail_internal, '1' %>Enable &nbsp; <%= f.radio_button :massmail_internal, '0' %>Disable
      </div>
    </div>

    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', admin_companies_path, :class => 'btn' %>
    </div>

<% end %>

